$azure-blue: #0078d7;
$vs-purple: #5c2d91;

.rpi {
  position: relative;
  overflow: hidden;
}

.bg,
.logo {
  position: absolute !important;
  user-select: none;
}

.bg {
  max-width: 320px;
  bottom: -40%;
  right: 48px;
}

.logo {
  right: 20px;
  top: 20px;
}

.columns {
  margin: 30px auto !important;
}

.courseListTitle {
  margin-top: 40px;
  text-align: center;
}

.card {
  &:hover {
    box-shadow: 0 1px 2px color($azure-blue alpha(10%)), 0 0 0 1px color($azure-blue alpha(10%));
  }
}

.cardImage {
  padding: 20px;
}

.cardHeader {
  align-items: center;
  background: #fff;
  padding: 20px;
}

.startButton {
  min-height: 40px;
  background: $azure-blue !important;
  line-height: 32px !important;
  font-weight: 600;
}

.lessonProgress {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.85rem;
  margin: 20px;

  & > span {
    padding-left: 10px;
    padding-right: @padding-left;
  }
}

.lessonProgressText {
  white-space: nowrap;
}