/* Title: Simple headings to add depth to the page */
/* TODO: subtitle*/
@define-mixin title-size $i, $size {
  &.is-$(i) {
    font-size: $size;
  }
}

.title,
.subtitle {
  @mixin block;
  font-weight: $weight-title-normal;
  word-break: break-word;

  & em,
  & span {
    font-weight: $weight-title-normal;
  }

  & a {
    &:hover {
      border-bottom: 1px solid;
    }
  }

  & strong {
    font-weight: $weight-title-bold;
  }
}

.title {
  /* color: $text-light; */
  color: $text;
  font-style: $size-large;
  line-height: 1;

  & strong {
    color: inherit;
  }

  /* Sizes */
  /* is-7 */
  @mixin title-size 1, $size-1;
  @mixin title-size 2, $size-2;
  @mixin title-size 3, $size-3;
  @mixin title-size 4, $size-4;
  @mixin title-size 5, $size-5;
  @mixin title-size 6, $size-6;
  @mixin title-size 7, $size-7;

  & + & .highlight {
    margin-top: -10px;
  }
  & + & .subtitle {
    margin-top: -10px;
  }

  &.is-normal {
    font-weight: 400;

    & strong {
      font-weight: 700;
    }
  }

  /* Responsiveness */
  & {
    @mixin tablet {
      margin-top: -15px;
    }
  }
}


.subtitle {
  color: $text;
  font-size: $size-medium;
  line-height: 1.125;
  & code {
    border-radius: $radius;
    display: inline-block;
    font-size: $size-normal;
    padding: 2px 3px;
    vertical-align: top;
  }
  & strong {
    color: $text-strong;
  }
  & + & .title {
    margin-top: -20px;
  }

  /* Modifers */
  &.is-normal {
    font-weight: 400;
    & strong {
      font-weight: 700;
    }
  }
}
