/* Element */
.card-order {
  @mixin circle 48px, 4px, color($border alpha(40%));
  align-items: center;
  color: color($border alpha(40%));
  display: flex;
  font-size: $size-1;
  font-weight: 700;
  justify-content: center;
  position: absolute;
  right: -20px;
  bottom: @right;
}

.card-caption {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;

  & .title {
    color: $azure-blue;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
  }
}

.card-header {
  text-align: center;
  min-height: 180px;
}

.card-image {
  display: flex;
  justify-content: center;
  position: relative;
}

.card-content {
  padding: 20px;
}

.card-footer {
  
}

/* Container */
.card {
  background-color: $grey-lighter;
  box-shadow: 0 1px 2px color($rich-black alpha(3%)), 0 0 0 1px color($rich-black alpha(3%));
  color: $text;
  display: block;
  max-width: 100%;
  position: relative;
  width: 300px;

  &.is-fixed-height {
    display: flex;
    flex-direction: column;
    height: 430px;
    justify-content: space-between;
    overflow: hidden;
  }
}