.column {
	flex: 1 1 auto;
	padding: 10px;

	/* 12 grids */
	@for $i from 1 to 11 {
		&.is-$(i) {
			flex: none;
			width: calc($i / 12 * 100)%;
		}
		&.is-offset-$(i) {
			margin-left: calc($i / 12 * 100)%;
		}
	}

	& {
		@mixin mobile {

		}

		@mixin tablet {
			&.is-one-third,
			&.is-one-third-tablet {
				border: solid 1px red;
				width: 33.3333%;
			}

			@for $i from 1 to 11 {
				$.is-$(i)-tablet {
					flex: none;
					width: calc($i / 12 * 100%);
				}
				$.is-offset-$(i)-tablet {
					margin-left: calc($i / 12 * 100%);
				}
			}
		}
		@mixin desktop {

		}
	}
}

/* Container */
.columns {
	margin-top: -10px;
	margin-right: -10px;
	&:last-child {
		margin-bottom: -10px;
	}
	&:not(:last-child) {
		margin-bottom: 10px;
	}
	&.is-multiline {
		flex-wrap: wrap;
	}
	/* Responsive */
	& {
		@mixin tablet {
			&:not(.is-desktop) {
				display: flex;
			}
		}
		@mixin desktop {
			display: flex;
		}
	}
}
