.column {
	flex-basis: 0;
	flex-grow: 1;
	flex-shrink: 1;
	padding: 10px;

	&.is-one-third,
	&.is-one-third-tablet {
		flex: none;
		width: 33.3333%;
	}

	@for $i from 1 to 11 {
		&.is-$(i) {
			flex: none;
			width: calc($i / 12 * 100)%;
		}
		&.is-offset-$(i) {
			margin-left: calc($i / 12 * 100)%;
		}
	}
}

.columns {
	display: flex;
	margin: -10px -10px auto -10px;
	&:last-child {
		margin-bottom: -10px;
	}
	&:not(:last-child) {
		margin-bottom: 10px;
	}
	
	&.is-multiline {
		flex-wrap: wrap;
	}
}
